:root {
  --color-blue: #76c7ed;
}

.font-dosis {
  font-family: "Dosis", sans-serif !important;
}

.font-sofia {
  font-family: "Sofia", cursive !important;
}

.text-blue {
  color: var(--color-blue) !important;
}

.bg-blue {
  background-color: var(--color-blue) !important;
}

.border-blue {
  border-color: var(--color-blue) !important;
}

.btn-blue {
  background-color: var(--color-blue) !important;
  color: white;
  font-weight: 500;
  border-radius: 0;
}

.gradient-text {
  background: linear-gradient(90deg, #4d9dce, #7776bb, #b965a6, #e89ec2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav {
  font-size: 15px;
}

.detail-box .detail-icon {
  color: var(--color-blue);
  transition: 0.3s;
}

.detail-box:hover .detail-icon {
  color: white;
  background-color: var(--color-blue);
  transition: 0.3s;
}

.counts {  
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      62deg,
      rgba(255, 255, 255, 0.7) 20%,
      rgba(255, 255, 255, 0.8) 80%
    ),
   url(../img/counts-bg.jpg);
   background-attachment: fixed;
}

.counts img{
   filter: grayscale(1);
   transition: .3s;
}

.counts img:hover{
   filter: none;
   transition: .3s;
}
.dropdown-contentt{
  position: fixed;
  bottom: 50px;
  right: 10px;
  box-shadow:  0px 0px 15px 0px black;
}
.chat-dropdown{
  position: fixed;
  bottom: 100px;
  right: 10px;
}
.chatbox-container{
  height: 420px;
  width: 350px;
  background-color: white;
  position: fixed;
  bottom: 50px;
  right: 10px;
  box-shadow:  0px 0px 15px 0px black;
}
.chat-header{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  background-color: #0652c0;
  color: #fff;
  font-size: 1.5rem;
}
.chat-header .logo{
  height: 35px;
  width: 35px;
  box-shadow: 0px 0px 10px 0px black;
}
.chat-header img{
  height: 100%;
  width: 100%;
}
.chat-header .title{
  padding-left: 10px;
}
.chat-body{
  height: 300px;
  display: flex;
  padding: 8px 10px;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}
.chat-input{
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}
.input-sec{
  flex: 9;

}
.send{
  flex: 1;
  padding-right: 4px;
}
#txtinput{
  line-height: 30px;
  padding: 8px 10px;
  border: none;
  outline: none
;
font-size: 1rem;
width: 100%;
caret-color: black;
}
.user-message{
  padding: 8px;
  background: #ccc;
  margin: 5px;
  width: max-content;
  border-radius: 10px 5px 10px 10px;
}
.chatbot-message{
  background: #0652c0;
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
  padding: 8px;
  color: white;
}